a.out
/.idea/
/CMakeLists.txt
/GPATH
/GRTAGS
/GTAGS
/cmake-build-debug/
/the-c-programing-language_text.pdf
/ch4__functions_and_program_structure/calc/calc
/ch4__functions_and_program_structure/calc/cmake-build-debug/
